.searchMain {
    padding-top: 30px;
}

.searchMain > input {
    width: 500px;
    height: 40px;
    font-size: large;
    border:solid 1px #ccc;
    border-radius: 20px;
    padding-left: 45px;
}

.searchMain > span > img {
    width: 40px;
    height: 40px;
    position: absolute;
}