body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.resultMain {
  text-align: left;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

.resultLabel {
  font-size: large;
  font-weight: bold;
  color: gray;
  display: block;
  border-bottom:solid 1px #ccc;
}

.resultArea {
  padding: 10px;
  display: inline-block;
}