.propertyCard {
    padding: 20px;
    border:solid 1px #ccc;
    border-radius: 5px;
    text-transform: uppercase;
    height: 180px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.propertyField {
    padding-bottom: 5px;
}

.propertyFieldValue {
    font-weight: bolder;
    font-size: small;
}

.propertyFieldLabel {
    font-weight: normal;
    font-size: x-small;
}

.propertyUID {
    font-size: 9px;
    padding-left: 20px;
    font-weight: bold;
    color: #ccc;
    text-align: center;
    text-transform: none;
}

.row {
    padding: 10px;
}

.column {
    float: left;
    width: 20%;
}
    
    /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
